.card {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    min-width: 80%;
    margin: 0 auto;

    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-text:nth-child(1) {
            flex-grow: 2;
            margin-right: 20px;
            text-align: left;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: #716f6f;
        }

        .social-icons {
            display: flex;
            text-align: right;
            flex-flow: wrap;
            justify-content: flex-end;

            .icon {
                display: block;
                margin: 0 10px 0 10px;
                transition: fill 0.3s ease;

                /* Smooth color transition */

                &:hover {
                    opacity: 0.8;
                    /* Set opacity */
                }
            }

        }
    }

    img {
        width: 18px;
        height: 18px;
        filter: grayscale(10);
    }

    .tooltip {
        position: relative;
        display: inline-block;
        /* border-bottom: 1px dotted black; */

        .tooltiptext {
            visibility: hidden;
            width: 80px;
            /* Reduced width */
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            /* Adjusted border radius */
            padding: 3px 0;
            /* Reduced padding */
            font-size: 10px;
            /* Reduced font size */
            position: absolute;
            z-index: 1;
            bottom: 150%;
            left: 50%;
            margin-left: -40px;
            /* Adjusted margin to center tooltip */

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -4px;
                /* Adjusted arrow positioning */
                border-width: 4px;
                /* Adjusted arrow size */
                border-style: solid;
                border-color: black transparent transparent transparent;
            }
        }

        &:hover .tooltiptext {
            visibility: visible;
        }
    }

}